* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* debug */

.debug {
    border: 1px solid black;
}

/* UTILS */


.container-large {
    max-width: 1175px;
    margin: 0 auto;
}

.container-slim {
    max-width: 1000px;
    margin: 50px auto;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-content: center;
}

.txt-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.border-gray {
    border: 1px solid lightgray;
}

.padding-bot-60 {
    padding-bottom: 60px;
}

.blue-btn {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0061FF;
    padding: 10px;   
}

.blue-btn-wide {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0061FF;
    padding: 10px 25px;     
}

/* HEADER */


header li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    vertical-align: middle;
}

header li img {
    vertical-align: middle;
}

header li a {
    color: black;
    text-decoration: none;
}

#nav-bar {
    background-color: #FFFFFF;
}


/* MAIN */ 

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

h3 + p:not(.partner-p, .bot-cards-p) {
    font-weight: bold;
}

h3 ~ p {
    font-size: 0.8rem;
}

/* JUMBOTRON */


#jumbotron {
    padding-top: 40px;
    background-color: #B4D0E7;
}

#jumbotron .container-large {
    max-height: 580px;
}

#jumbotron h1 {
    font-size: 4.4rem;
    line-height: 100px;
}
.col-left {
    width: 30%;
}

.col-right {
    width: 70%;
}

.col-left p {
    padding: 40px 0;
}

.fa-arrow-down {
    display: inline-block;
    font-size: 2rem;
    color: black;
    padding-bottom: 10px;
}

#jumbotron img {
    width: 750px;
    padding-top: 40px;
}


 /*** Piano Business  ***/

 /* TITLE + BUTTONS*/

#piano-business {
    margin-top: 150px;
}

#piano-business h2 {
    margin-bottom: 60px;
}

#piano-business div i {
    margin-right: 2px;
}

#piano-business div i.fa-circle-dot {
    color: #0061FF;
}

#piano-business div i.fa-circle {
    color: lightgray;
    margin-left: 40px;
}

/* BUSINESS MIDDLE CARDS */

.middle-cards .row {
    margin-top: 50px;
}

.middle-cards .col {
    max-width: calc(100% / 3);
    width: 300px;
}

.middle-cards .card-top {
    padding: 10px 60px;
}

.card {
    padding: 20px 30px;
    border: 1px solid lightgray;
}

.middle-cards .card p {
    padding-top: 15px;
}

main ul li {
    list-style: none;
    padding-bottom: 30px;
}

.btn {
    padding-top: 50px;
    padding-bottom: 30px;
}

.grey-line {
    height: 0;
    max-width: 55px;
    margin-top: 50px;
    margin-bottom: 60px;
    border: 1px solid lightgrey;
}

h5 {
    padding-bottom: 30px;
}

/* BUSINESS BOTTOM CARD */ 

.col-left-wide {
    max-width: 60%;
}

.col-right-small {
    max-width: 40%;
    padding: 50px 40px;
}

/** PARTNER **/

#partner {
    padding-top: 60px;
    padding-bottom: 10px;
}

#partner .col-left-wide img {
    max-width: 100%;
}

#partner .col p {
    padding: 30px 0;
}

#partner .col a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;   
}

/* Dropbox business */

#dropbox-business h2 {
    padding: 60px 0;
}

#dropbox-business h3 {
    padding-bottom: 30px;
}

#dropbox-business img {
    max-width: 100%;
}

#dropbox-business .col {
    max-width: calc(100% / 3);
    width: 300px;
}

#dropbox-business .second-row {
    margin-top: 40px;
}

/* CTA */

#cta h2 {
    max-width: 60%;
    margin-top: 200px;
    padding-bottom: 70px;
}

#cta a {
    color: #0061FF;
}

/* FOOTER */

h4 {
    font-size: 1.2rem;
    padding-bottom: 15px;
    padding-top: 100px;
}

footer {
    color: white;
    background-color: black;
}

footer li {
    list-style: none;
    padding-top: 20px;
}

footer li a {
    text-decoration: none;
    color: white;
}

#footer .col {
    max-width: calc(100% / 5);
    width: 200px;
}